/* Write your CSS here */
body {
  margin: 0px;
}
* {
  color: aliceblue;
}
@media screen and (min-width: 768px) {
  .bg-con {
    height: 100vh;
    width: 100%;
    background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
