/* Write your CSS here */
body {
  margin: 0px;
}
* {
  color: aliceblue;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .bg-con {
    height: 100vh;
    width: 100%;
    background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .planet-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
  }

  .planet-image {
    height: 400px;
    width: 400px;
    text-align: center;
    margin-top: 20px;
  }
}
